@(newForm: Form[String])

@import helper._

@main("InterWebStat - Get page statistics") { } {
  <div class="toplinks toplinkshome">
    <a href="#">About</a>
  </div>
  <div class="firstpagemaincontent">
    <h1 class="firstpage"><a href="/"><img src="@routes.Assets.at("images/interwebicon-55.png")" alt="icon" class="logo"/>InterWebStat<a></h1>
    <hr class="header" />
    <div class="firstpagetext">
      Get information about a web page. Start by entering an address in the box below.
    </div>
    @form(routes.Application.getPage) {
      <input type="text" name="url" id="url" class="inputfirstpage watermarked" value="URL...">

      <input type="submit" value="Show Statistics" class="firstpagesubmit">
    }
  </div>
}
